In [2]:
print ('Olá mudno lindo! Aqui estou para aprender muito sobre python')

Olá mudno lindo! Aqui estou para aprender muito sobre python

In [3]:
# este é um comentário em uma linha
print ('boa tarde frio') #comentario embutido

boa tarde frio

In [4]:
print ('nada') #aqui tem um comentário mas o mesmo não é visível

nada

In [5]:
print("exemplo de aspas duplas")

exemplo de aspas duplas

In [6]:
y = 'Emanuele'
idade = 38
x = 'Juliana'
idade1 = 32
cidade = 'novo hamburgo'

print(y, '&', x, 'sao de', cidade, 'e tem consecutivamente as idades de', idade, '&', idade1)

Emanuele & Juliana sao de novo hamburgo e tem consecutivamente as idades de 38 & 32

In [7]:
a,b,c = 'true','false','false'
print (a)
print(b)
print(c)

true
false
false

In [8]:
x = 2
y = "texto"
z =["lista",1]
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'str'>
<class 'list'>

In [9]:
var1 = 20.3
var2 = int(var1) 
var3 = complex(var1) 
var4 = str(var1)
print(var1,"tipo é", type(var1))
print(var2,"tipo é", type(var2))
print(var3,"tipo é", type(var3))
print(var4,"tipo é", type(var4))

20.3 tipo é <class 'float'>
20 tipo é <class 'int'>
(20.3+0j) tipo é <class 'complex'>
20.3 tipo é <class 'str'>

In [10]:
x=20.3 #float
y=20 #inteiro
z=20.3j #complexo

print(x)
print(y)
print(z)

20.3
20
20.3j

In [11]:
# inteiros - integer - int
x = 1227348742474 
y = -12234353546
z = 0
print (type (x))
print (type (y))
print (type (z))

<class 'int'>
<class 'int'>
<class 'int'>

In [12]:
# float (.) tuple (,)
x = 122734.8742474
y = -12234.353546
z = 0,2032
print (type (x))
print (type (y))
print (type (z))

<class 'float'>
<class 'float'>
<class 'tuple'>

In [13]:
# complexos (são usados com o j para indicar complexidade)
x = 12 + 3j
y = -12 - 0.4j
z = 4j
print (type (x))
print (type (y))
print (type (z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

In [14]:
mystr = "Eu sou uma frase"
print (len (mystr)) # 16
print (mystr[0]) # E
print (mystr[1]) # U
print (mystr[0: len(mystr)]) # frase completa
print (mystr[:]) # : significa 0, entao é o comprimento total da frase
print (mystr[-2: -1]) # exibe 'S'
print (mystr[-14: -1]) # frase completa excluindo o 'e'
print (mystr [:100]) # frase completa

16
E
u
Eu sou uma frase
Eu sou uma frase
s
 sou uma fras
Eu sou uma frase

In [15]:
x = "Olá"
y = "mundo"
z = x + " " + y
print (x + " " + y)
print ("Olá" + " " + "mundo")
print (z)

Olá mundo
Olá mundo
Olá mundo

In [16]:
x = "2"
y = "4"
print ("12.3" + "34.6") # concatenação de string
print (x + y) # concatenação de string
print (int (x) + int (y)) # adição simples

12.334.6
24
6

In [17]:
print ("Hello", end = "") # nenhuma mudança de linha acontecerá
print ("Mundo")

HelloMundo

In [18]:
print ("Hello", end = " ") # nenhuma mudança de linha, apenas o espaço será inserido
print ("Mundo")

Hello Mundo

In [19]:
print ("Hello" + " ", end = "my" + " ") # inserindo my entre Hello e World
print ("Mundo")

Hello my Mundo

In [20]:
print ("Nome: {nome} e idade: {idade}". format (nome = "Harry", idade = 30))
print ("Nome: {0} e idade: {1}". format ("Harry", 30))
print ("Nome: {1} e idade: {0}". format ("Harry", 30))
print ("Nome: {} e idade: {}". format ("Harry", 30))

Nome: Harry e idade: 30
Nome: Harry e idade: 30
Nome: 30 e idade: Harry
Nome: Harry e idade: 30

In [21]:
print ("Nome: {nome} e idade: {idade}" .format (nome = "Emanuele", idade = 28))

Nome: Emanuele e idade: 28

In [22]:
print ("Nome: {} / idade: {} / profissao: {} / cidade: {}".format ("tal",1,"mecanico", "Canoas"))

Nome: tal / idade: 1 / profissao: mecanico / cidade: Canoas

In [23]:
nome = "Harry"
idade = 30
print (f"Nome: {nome} e idade: {idade}")

Nome: Harry e idade: 30

In [24]:
nome = "Emanuel Santos"
funcao = "Analista de sistema"
print (f"Nome:{nome} / funcao: {funcao}")
print (f"soma: {5 + 4}")

Nome:Emanuel Santos / funcao: Analista de sistema
soma: 9

In [25]:
x = "O Brasil continua uma terra sem lei"
print (len (x))

35

In [26]:
x = "Eu sou Do Brasil mas moro na Irlanda mas vou a Frorida amanNha a noite"
print (x.lower())

eu sou do brasil mas moro na irlanda mas vou a frorida amannha a noite

In [27]:
mystring = "Vou sair para passear todos os dias e gastar milhoes"
print(mystring.upper())

VOU SAIR PARA PASSEAR TODOS OS DIAS E GASTAR MILHOES

In [28]:
mystring = "Hoje vamos jantar no katana sushi"
print (mystring.replace("katana sushi", "xis da voni"))

Hoje vamos jantar no xis da voni

In [29]:
print ("Eu sou \ A string")
print ("Imprimindo uma aspa simples \ '")

Eu sou \ A string
Imprimindo uma aspa simples \ '

In [30]:
myList = [1, 2, 3, 4, "Hello", "World"] # definindo uma lista
print (myList) # imprimindo uma lista
print (myList [0]) # imprimindo o primeiro elemento
print (myList [1]) # imprimindo segundo elemento
print (myList [5]) # imprimindo o último elemento
print (myList [-1]) # imprimindo o último elemento
print (myList [-2]) # imprimindo o último segundo elemento

[1, 2, 3, 4, 'Hello', 'World']
1
2
World
World
Hello

In [31]:
myList = [1, 2, 3, 4, "Hello", "World"] # definindo uma lista
print (myList) # imprimindo uma lista
print (myList [0: 5]) # python subtrai automaticamente 5-1 = 4                                    
print (myList [0: 6]) # 6-1 = 5
print (myList [1: 4]) # 4-1 = 3
print (myList [-4: -1]) # -1-1 = -2
print (myList [-3: -2]) # -2-1 = -3
print (myList [: 6]) # python atribui automaticamente 0 
                       # se não colocarmos algum valor
print (myList [0:]) # python atribui comprimento automaticamente
                   # da lista se não colocarmos algum valor

[1, 2, 3, 4, 'Hello', 'World']
[1, 2, 3, 4, 'Hello']
[1, 2, 3, 4, 'Hello', 'World']
[2, 3, 4]
[3, 4, 'Hello']
[4]
[1, 2, 3, 4, 'Hello', 'World']
[1, 2, 3, 4, 'Hello', 'World']

In [32]:
myList = [1, 2, 3, 4, "Hello", "World"] # definindo uma lista
print ("Lista antes da mudança é ->", myList)
myList [0] = 0 # atribuindo valores diferentes
myList [1] = 1
myList [-1] = "Resposta"
myList [-2] = "Pergunta"
print ("A lista após a mudança é ->", myList)

Lista antes da mudança é -> [1, 2, 3, 4, 'Hello', 'World']
A lista após a mudança é -> [0, 1, 3, 4, 'Pergunta', 'Resposta']

In [33]:
myList = [1,2,3,5,6,5,6,5,4,4,3,3]
print (len(myList))

12

In [34]:
myList = [34, 12, 10, 50, 45, 13]
myList.sort ()
print (myList)

[10, 12, 13, 34, 45, 50]

In [35]:
myList = ["banana","maca", "uva","chocolate","palmito","arroz", "acucar","leite"]
myList.sort()
print(myList)

['acucar', 'arroz', 'banana', 'chocolate', 'leite', 'maca', 'palmito', 'uva']

In [36]:
myList = ["banana","maca", "uva","chocolate","palmito","arroz", "acucar","leite"]
print(min(myList))

acucar

In [37]:
myList = [34, 12, 10, 50, 45, 13]
print(min(myList))

10

In [38]:
myList = [34, 12, 10, 50, 45, 13]
imprimir (min (minhaLista))

NameError: name 'imprimir' is not defined

In [ ]:
myList = ["banana","maca", "uva","chocolate","palmito","arroz", "acucar","leite"]
myList.sort()
print (myList)

In [ ]:
myList = ["banana","maca", "uva","chocolate","palmito","arroz", "acucar","leite"]
print (max(myList))

In [ ]:
myList = [3,5,6,4,86,3,54,76,12,1,32,1,45,0,587]
print (max(myList))

In [ ]:
myTuple = (1, 2, 3, 4)
myList1 = list (myTuple)
myString = "Olá"
myList2 = list (myString)
mySet = {1, 2, 3, 4}
myList3 = list (mySet)
print (myList1)
print (myList2)
print (myList3)

In [ ]:
myList1 = (4,6,4,3,2,6,7,8)
myList1 = list(myList1)
print (myList1)

In [ ]:
myList1 = {"banana","maca", "uva","chocolate","palmito","arroz", "acucar","leite"}
myList1 = list(myList1)
print (myList1)

In [ ]:
myList1 = "Emanuele"
myList1 = list(myList1)
print (myList1)

In [ ]:
myList = [1, 2, 3, 4]
myList.append (5)
print (myList)

In [ ]:
myList = ["caneta","lapis","caderno","estojo","mochila"]
myList.append ("cartolina")
print (myList)

In [ ]:
myList = ["caneta","lapis","caderno","estojo","mochila"]
myList.clear()
print (myList)

In [ ]:
myList1 = [1, 2, 3, 4]
myList2 = myList1.copy ()
print (myList2)

In [ ]:
myList1 = [1, 2, 3, 4]
myList2 = [5, 6, 7, 8]
myList3 = myList1.copy()
myList4 = myList2.copy()
print (myList3 + myList4)

In [ ]:
myList = [1, 2, 3, 4]
myList.reverse ()
print (myList)

In [ ]:
minhaLista = [1, 2, 3, 4, 5, 6, 7]
adicao1 = sum (minhaLista)
print (adicao1)
adicao2 = sum (minhaLista, 3)
print (adicao2)

In [ ]:
minhaLista1 = [* range (15)]
minhaLista2 = [* range (4, 15)]
minhaLista3 = [* range (4, 100, 7)]
print (minhaLista1)
print (minhaLista2)
print (minhaLista3)

In [ ]:
minhaLista1 = [* range (15)]
minhaLista2 = [* range (4, 15)]
minhaLista3 = [* range (5, 50, 3)]
print (minhaLista1)
print (minhaLista2)
print (minhaLista3)

In [ ]:
myList = [4, 5, 6, 7, 8, 9, 10, 11] 
print (myList.pop ()) # 11
print (myList)
print (myList.pop (3)) # 7
print (myList)
print (myList.pop (0)) # 4
print (myList)
print (myList.pop ()) # 10
print (myList)

In [ ]:
myList = [4, 5, 6, 7, 8, 9, 10, 11,15,15,14,18,7]
print (myList.pop())

In [ ]:
myList = [4, 5, 6, 7, 8, 9, 10, 11,15,15,14,18,7]
print (myList.pop(8))
print (myList)

In [ ]:
myList = [4, 5, 6, 7, 8, 9, 10, 11]
print (myList.remove (4)) # remove 4 e não retorna nada
print (myList)

In [ ]:
myList = [4, 5, 6, 7, 4, 8, 9, 4, 10, 11,4]
while 4 in myList: myList.remove (4)
print (myList)

In [ ]:
myList = [4, 5, 6, 7, 4, 8, 9]
print (myList.index (5))
print (myList.index (4))
print (myList.index (4, 2, 5))
print (myList.index (4, 2, 3))

In [ ]:
myList = [4, 5, 6, 7, 4, 8, 9]
print(myList.index(5))
print(myList.index(4))
print(myList.index(4, 2, 5))
print(myList.index(4, 2, 3))

In [ ]:
myList = [4, 5, 6, 7, 4, 8, 9]
print(myList.index(7))

In [ ]:
myList = [4, 5, 6, 7, 4, 8, 9]
print (myList.index (4))

In [ ]:
myList = [4, 5, 6, 7, 4, 8, 9]
print (myList.index (4, 2, 5))

In [ ]:
myList = [4, 5, 6 , 10, 7, 4, 8, 9]
print(myList.index(10, 2, 4))

In [ ]:
myList = [4, 5, 6, 7, 4, 8, 9]
myList.insert (0, 1)
print (myList)

In [ ]:
myList = [4, 5, 6, 7, 4, 8, 9]
myList.insert (7, 1)
print (myList)

In [ ]:
myList = [4, 5, 6, 7, 4, 8, 9]
myList.insert (28, 13)
print (myList)

In [ ]:
from prettytable import PrettyTable
from prettytable import from_csv
from prettytable import from_html
from prettytable import PrettyTable
myTable = PrettyTable()

myTable = PrettyTable()
myTable.field_names = (["Nome", "Turma", "Nota"])

#adicionar colunas
myTable.add_row(["Maria","3A", "8"])
myTable.add_row(["Pedro","3A", "9"])
myTable.add_row(["Samanta","3A", "8"])
myTable.add_row(["Maria Louca","2B", "6"])
myTable.add_row(["Luiz","1D", "4"])
myTable.add_row(["Mariana","3A", "6"])
myTable.add_row(["Betina","3C", "8"])
myTable.add_row(["Juliana","1D", "7"])

#Exibe dados
print(myTable)

In [ ]:
from prettytable import PrettyTable
from prettytable import from_csv
from prettytable import from_html

# Cria a tabela
x = PrettyTable(["Nome da cidade", "UF", "Populacao", "IDH-M", "Renda per Capita"])

# Alinha as colunas
x.align["Nome da cidade"] = "l"
x.align["UF"] = "l"
x.align["População"] = "1"
x.align["IDH-M"] = "1"
x.align["Renda per Capita"] = "1"

# Deixa um espaço entre a borda das colunas e o conteúdo (default)
x.padding_width = 3

# Adiciona dados a tabela
x.add_row(["Sao Paulo","SP", 12106920, 0.805, 54358]) 
x.add_row(["Rio de Janeiro","RJ", 6520266, 0.799, 49527]) 
x.add_row(["Belo Horizonte", "MG", 2523794, 0.810, 35187]) 
x.add_row(["Porto Alegre", "RS", 1484941, 0.805, 46122]) 
x.add_row(["Salvador", "BA", 2953986, 0.759, 19812]) 
x.add_row(["Recife", "PE", 1633697, 0.772, 29701]) 
x.add_row(["Brasilia", "DF", 3039444, 0.824, 73971])

# Ordenar por cidade
print(x.get_string(sortby="Nome da cidade"))

In [ ]:
from tqdm import tnrange, tqdm_notebook
from time import sleep
for i in tnrange(1, desc = '1st loop'):
    for j in tnrange (100, desc = '2st loop' ):
        sleep(0.01)  # exemplo de carregamento de elementos

In [ ]:
import numpy as np
from bashplotlib.histogram import plot_hist
arr = np.random.normal(size=1000, loc=0, scale=1)
plot_hist(arr, bincount=100)

In [ ]:
from openpyxl import Workbook

arquivo_excel = Workbook()
planilha2 = arquivo_excel.create_sheet("Ganhos", 0)
planilha2['A1'] = 'Categoria'
planilha2['B1'] = 'Valor'
planilha2['A2'] = "Restaurante"
planilha2['B2'] = 45.99
valores = [
    ("Categoria", "Especial"),
    ("Restaurante", 45.99),
    ("Transporte", 208.45),
    ("Viagem", 558.54)
]

for linha in valores:
    planilha2.append(linha)
planilha2.cell(row=3, column=1, value=34.99)
arquivo_excel.save("relatorio.xlsx")
    
print(arquivo_excel.sheetnames)

In [39]:
# importar biblioteca
import speedtest

# declarar variavel
s = speedtest.speedtest()

# fazer o teste do download e converter em Mb/s
down = s.download()
resultdown = round(down)
fdown = int(resultdown / 1e+6)

# fazer o teste do upload e converter em Mb/s
up = s.upload()
resultup = round(up)
fup = int(resultup / 1e+6)

# mostar resultado
print(f"Sua velocidade de Download é de: {fdown} mb/s")
print(f"Sua velocidade de Upload é de: {fup} mb/s")

AttributeError: module 'speedtest' has no attribute 'speedtest'

In [1]:
result = 10*3

In [2]:
print ('ola')

ola

In [3]:
import numpy as np
idades = [10,20,30,62,45]
np.min (idades)

10

In [4]:
np.mean(idades)

33.4

In [2]:
num = int(input('digite um número'))
if (not num % 2):
    print('o número digitado é par')
else:
    print ('o número digitado é impar')

digite um número115
o número digitado é impar